@font-face {
	font-family: 'FlappybirdyRegular-KaBW';
	src: url('/fonts/FlappybirdyRegular-KaBW.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'FlappybirdyRegular-KaBW';
}

html::-webkit-scrollbar {
	display: none;
}

.monospace {
	font-family: monospace;
}

html {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	overflow-y: hidden;
}
